/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{

    background:#f8fbff;

    font-family:'Poppins',sans-serif;

}

/* Header */

header{

    height:90px;

    background:#ffffff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 45px;

    position:sticky;

    top:0;

    z-index:1000;

    box-shadow:0 3px 20px rgba(0,0,0,.05);

}

/* Menu */

.menu-icon{

    font-size:34px;

    cursor:pointer;

    color:#0D2B5C;

    transition:.3s;

}

.menu-icon:hover{

    color:#C89B3C;

}

/* Logo */

.logo img{

    height:90px;

    width:auto;

    transition:.3s;

}

.logo img:hover{

    transform:scale(1.03);

}

/* Right Side */

.right-icons{

    display:flex;

    align-items:center;

    gap:30px;

    font-size:22px;

    color:#0D2B5C;

}

.right-icons span{

    cursor:pointer;

    transition:.3s;

}

.right-icons span:hover{

    color:#C89B3C;

}

/* Hero */

.hero{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:0;
    margin:0; 

}

.hero img{

    width:100%;

    max-width:100%;

    height:auto;

    display:block;

    border-radius:0;

    box-shadow:none;

} 